<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Zimm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3F091B41D5DE73900ABB628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F091D31D5DE73A00ABB628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3F091DE1D5DE73A00ABB628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
